// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://fonts.googleapis.com/css?family=Righteous");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, html, #app, .container {
    height: 94%;
}

.navbar-brand img {
    height: 50px;
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline-color: lighten($brand-primary, 20%);
}
